* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  min-height: 100vh;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 10%;
  /* background: #36383f; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #36383f;
  z-index: -1;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(90deg, transparent, #65666a, transparent);
  transition: 0.3s; */
}

.header:hover:after {
  left: 100%;
}

.logo {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.navbar a {
  font-size: 1.15rem;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;
  transition: transform 0.3s;
}

.navbar a:hover {
  transform: translateY(-20px);
}

#check {
  display: none;
}

#check2 {
  position: relative;
  left: 50%;
  top: -100px;
}

div#container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 1.55fr 7fr 7fr 3fr;
}

#accueil,
#a-propos,
#experience,
footer {
  margin: 5px;
  border: solid 2px;
}

#a-propos {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

#a-propos > h1 {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

#a-propos > p {
  display: flex;
  justify-content: space-around;
  transform: translateY(-100px);
}

footer {
  margin: 0;
  background: #36383f82;
  display: flex;
  justify-content: space-around;
}

.icons {
  position: absolute;
  right: 5%;
  font-weight: 10px;
  font-size: 2.2rem;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: none;
}

/* DEBUT SOCIAL ICONS  */
.social-icon {
  transform: translateY(30px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 2.5rem;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.15s ease;
}
.social-icons {
  display: flex;
  text-decoration: none;
  color: black;
}

.social-icon:hover {
  color: #fff;
}
.social-icon:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -150%);
}
.social-icon:active {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
}

.social-icon--github {
  text-decoration: none;
  color: black;
  background: #fff;
  background: linear-gradient(tint(#4284c0, 5%), shade(#4284c0, 5%));
  border-bottom: 1px solid shade(#4284c0, 20%);
  color: tint(#4284c0, 50%);
}
.social-icon--github:hover {
  background: black;
  color: tint(#4284c0, 80%);
  text-shadow: 0px 1px 0px shade(#4284c0, 20%);
}
.social-icon--github .tooltip {
  background: black;
  background: linear-gradient(tint(black, 15%), black);
  color: tint(black, 80%);
}
.social-icon--github .tooltip:after {
  border-top-color: black;
}
.social-icon--discord {
  color: #e6e3e3;
  background: #7289da;
  background: linear-gradient(tint(#7289da, 5%), shade(#7289da, 5%));
  border-bottom: 1px solid shade(#7289da, 20%);
  color: tint(#7289da, 50%);
}
.social-icon--discord:hover {
  color: tint(#7289da, 80%);
  text-shadow: 0px 1px 0px shade(#7289da, 20%);
}
.social-icon--discord .tooltip {
  background: #7289da;
  background: linear-gradient(tint(#7289da, 15%), #7289da);
  color: tint(#7289da, 80%);
}
.social-icon--discord .tooltip:after {
  border-top-color: #7289da;
}
.social-icon i {
  position: relative;
  top: 1px;
}
/* Tooltips */
.tooltip {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  padding: 0.8rem 1rem;
  border-radius: 3px;
  font-size: 0.8rem;
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
  text-transform: uppercase;
  transform: translate(-50%, -100%);
  transition: all 0.3s ease;
  z-index: 1;
}
.tooltip:after {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  content: "";
  border: solid;
  border-width: 10px 10px 0 10px;
  border-color: transparent;
  transform: translate(-50%, 100%);
}

/* FIN SOCIAL ICONS */

/* LE RESPONSIVE  */

@media (max-width: 992px) {
  .header {
    padding: 1.3rem 5%;
  }
}

@media (max-width: 768px) {
  #check:checked ~ .icons #menu-icon {
    display: none;
  }

  .icons {
    display: inline-flex;
  }

  #check:checked ~ .icons #close-icon {
    display: block;
  }

  .icons #close-icon {
    display: none;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: #36383f;
    box-shadow: 0 0.5rem 1rem #36383f;
    overflow: hidden;
    transition: 0.3s ease;
  }

  #check:checked ~ .navbar {
    display: flex;
    height: 100.7rem;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .navbar a {
    display: block;
    padding: 50px;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px);
    transition: 0.2s ease;
  }

  .navbar a:hover {
    background: #414246;
  }

  #check:checked ~ .navbar a {
    transform: translateY(0);
    transition-delay: calc(0.45s * var(--i));
  }
}
